:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --primary-white-color: #ffffff;
  --title-text-color: #000000;
  --accent-color: #0a6cad;
  --secondary-bg-color: #f5f5f5;
  --border-footer: rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
/* Header */
.header,
.footer-section {
  max-width: 1600px;
  margin: 0 auto;

  background-color: #18a0fb;
  background-image: linear-gradient(
    180deg,
    #18a0fb 0%,
    rgba(19, 46, 155, 0.5) 100%
  );
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  text-align: center;
  font-family: Comfortaa, cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.427px;
}

.logo:hover {
  color: var(--primary-white-color);
}

.icon-logo:hover {
  fill: var(--primary-white-color);;
}

.site-nav {
  display: flex;
  margin-left: 70px;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--primary-white-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.225px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

.nav-auth {
  display: flex;
  align-items: auto;
  margin-left: auto;
}

.nav-auth .item + .item {
  margin-left: 12px;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 11px 34px;
  border-radius: 6px;
  border: 1px solid transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.225px;
}

.primary {
  border-color: var(--accent-color);
  text-align: center;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.primary:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.secondary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  letter-spacing: -0.255px;
}

.secondary:hover {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;
  margin: 0 auto;
  width: 1600px;
  height: 960px;
  /* background-color: rgb(49, 49, 94, 0.2); */
  background-image: linear-gradient(
      rgba(190, 200, 232, 0.2),
      rgba(5, 47, 185, 0.2)
    ),
    url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;
  padding-top: 448px;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.84px;
}

/* Features */
.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.72px;
}

.section-title.left {
  text-align: start;
  margin-bottom: 60px;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.36px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}

.features-list .item {
  width: 625px;
  margin: 40px 75px;
}
.text {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -0.27px;
}

/* Examples Work */
.work-list .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-list .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: var(--secondary-bg-color);
}

.work-list .item:nth-child(2n + 1) .content {
  margin-left: 84px;
}

.work-list .item:nth-child(2n) .content {
  margin-right: 84px;
}

/* Feedback */

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  margin: -30px -40px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-list .item {
  margin: 30px 40px;
}

.feedback-text {
  text-align: center;
  margin-bottom: 80px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}

/* Singup */

.singup {
  display: flex;
  align-items: center;
}

.section-singup {
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--secondary-bg-color);
}

.singup-text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}

.singup-link {
  display: flex;
  margin-left: auto;
}
.singup-link .button + .button {
  margin-left: 45px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer-list {
  display: flex;
}

.footer-list .item + .item {
  margin-left: 100px;
}

.footer-list .item:hover{
  color: var(--primary-white-color);
}

.footer-link {
  color: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.225px;
}

.soc-list {
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--border-footer);
}

.soc-list .item {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 44px;
  height: 44px;
}
.soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  fill: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--title-text-color);
  fill: var(--primary-white-color);
}

.soc-list .item + .item {
  margin-left: 21px;
}
.footer-text {
  text-align: center;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.225px;
}
